.App-menu {
    text-align: center;
}

.App-header-menu {
    background-color: #282c34;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header-menu-list {
    padding: 5%;
    background-color: aquamarine;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media (max-width: 768px) {
    .App-header-menu-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.App-header-menu-categoria {
    background-color: #696f7c;
    width: 90%;
    padding-left: 5%;
    text-align: start;
}