.footer {
  background-color: #336fa1;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  font-size: 1rem;
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-link {
  font-size: 24px;  /* Tamaño del ícono */
  color: white;
  transition: transform 0.3s, color 0.3s;
}

.social-link:hover {
  transform: scale(1.2);
  color: #ffd700;  /* Cambia el color al pasar el mouse */
}
